@{
    ViewData["Title"] = "Harmonização";
}

<div class="page-title" style="background-image: url(images/page-title-tacas.jpg)">
        <h1>Harmonização</h1>
</div>

<section id="portfolio">
    <div class="container"> 
        <!-- <div class="page-title" style="background-image: url(/images/page-title-tacas.jpg)">
        <h1>@ViewData["Title"]</h1></br></br> -->

                
        <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">Carnes Vermelhas</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".bootstrap">Carnes Brancas</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".html">Frutos do Mar</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wordpress">Massas</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wordpress">Queijos</a></li>
            </ul>
    </div>
    
    <!-- <h1>Wine</h1>
    <p>Pensa num vinho bom esse!</p>
    <p>Não é?</p>
    <a asp-controller="Wine" asp-action="Detail" asp-route-id="10">Vinho qualquer</a></li> -->
    
</section>